/* General Styles */
body {
    font-family: "Inconsolata", sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #bcd382;
    color: #1b3644;

}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
    display: flex;
    gap: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

h2 {
    color: #1b3644;
    margin-top: 5px;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #1b3644;
    display: inline-block;
}

/* Tabs container */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

/* Tab buttons */
.tab-link {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: all 0.5s ease;
    font-size: 16px;
}

.tab-link:hover {
    background: #ddd;
    border-radius: 5px;
}

.tab-link.active {
    background: #1b3644;
    color: #fff;
    border-radius: 5px;
}

/* Tab content */
.tab-content {
    display: none;
}
/* Default active tab - ensures first tab content div is visible by default when page loads */
.tab-content.active {
    display: block;
}

/* Gallery Image Styles */

#gallery.tab-content {
    display: flex;
    flex-direction: column; /* this stacks images vertically */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* centers images horizontally */
    padding: 20px;
    max-width: 1400px;
}
#gallery.tab-content img {
    display: block; /* Ensures images don't align side by side */
    width: 50%;
    max-width: 550px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

#gallery.tab-content img:hover {
    transform: scale(1.05);
}

#timeline {
    position: relative;
    max-width: 600px;
    margin: auto;
}
.step {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
    margin: 80px 0;
}
.step.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Footer Styles */
footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #666;
}