/* General Styles */
body {
    font-family: "Inconsolata", sans-serif;
    margin: 20px;
    text-align: center;
    background-color: #bcd382;
    color: #1b3644;

}

h1 {
    margin-bottom: 10px;
    font-size: 40px;
    display: flex;
    gap: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

h2 {
    color: #1b3644;
    margin-top: 10px;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #1b3644;
    display: inline-block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1400px;
}

/* Image Styles */
.gallery img {
    width: 20%;
    max-width: 350px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Footer Styles */
footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #666;
}